.table {
	margin: 0px;
	width: 100%;
	width: 100%;
	-moz-border-radius-bottomleft: 12px;
	-moz-border-radius-bottomleft: 12px;
	-webkit-border-bottom-left-radius: 12px;
	border-bottom-left-radius: 12px;
	-moz-border-radius-bottomright: 12px;
	-webkit-border-bottom-right-radius: 12px;
	border-bottom-right-radius: 12px;
	-moz-border-radius-topright: 12px;
	-webkit-border-top-right-radius: 12px;
	border-top-right-radius: 12px;
	-moz-border-radius-topleft: 12px;
	-webkit-border-top-left-radius: 12px;
	border-top-left-radius: 12px;
	-moz-border-radius-bottomleft ;
	-moz-border-radius-bottomleft: 12px;
	-webkit-border-bottom-left-radius: 12px;
	border-bottom-left-radius: 12px;
	-moz-border-radius-bottomright: 12px;
	-webkit-border-bottom-right-radius: 12px;
	border-bottom-right-radius: 12px;
	-moz-border-radius-topright: 12px;
	-webkit-border-top-right-radius: 12px;
	border-top-right-radius: 12px;
	-moz-border-radius-topleft: 12px;
	-webkit-border-top-left-radius: 12px;
	border-top-left-radius: 12px;
}

.table table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.table tr:last-child td:last-child {
	-moz-border-radius-bottomright: 12px;
	-webkit-border-bottom-right-radius: 12px;
	border-bottom-right-radius: 12px;
}

.table table tr:first-child td:first-child {
	-moz-border-radius-topleft: 12px;
	-webkit-border-top-left-radius: 12px;
	border-top-left-radius: 12px;
}

.table table tr:first-child td:last-child {
	-moz-border-radius-topright: 12px;
	-webkit-border-top-right-radius: 12px;
	border-top-right-radius: 12px;
}

.table tr:last-child td:first-child {
	-moz-border-radius-bottomleft: 12px;
	-webkit-border-bottom-left-radius: 12px;
	border-bottom-left-radius: 12px;
}

.table tr:hover td {
	
}

.table tr:nth-child(odd) {
	background-color: #ffccdd;
}

.table tr:nth-child(even) {
	background-color: #ffffff;
}

.table td {
	vertical-align: middle;
	border: 1px solid #000000;
	border-width: 0px 1px 1px 0px;
	text-align: left;
	padding: 7px;
	font-size: 10px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
}

.table tr:last-child td {
	border-width: 0px 1px 0px 0px;
}

.table tr td:last-child {
	border-width: 0px 0px 1px 0px;
}

.table tr:last-child td:last-child {
	border-width: 0px 0px 0px 0px;
}

.table tr:first-child td {
	background: -o-linear-gradient(bottom, #660033 5%, #ff66a3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #660033
		), color-stop(1, #ff66a3));
	background: -moz-linear-gradient(center top, #660033 5%, #ff66a3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#660033",
		endColorstr="#ff66a3");
	background: -o-linear-gradient(top, #660033, ff66a3);
	background-color: #ff0080;
	border: 0px solid #000000;
	text-align: center;
	border-width: 0px 0px 1px 1px;
	font-size: 14px;
	font-family: Arial;
	font-weight: bold;
	color: #ffffff;
}

.table tr:first-child:hover td {
	background: -o-linear-gradient(bottom, #660033 5%, #ff66a3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #660033
		), color-stop(1, #ff66a3));
	background: -moz-linear-gradient(center top, #660033 5%, #ff66a3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#660033",
		endColorstr="#ff66a3");
	background: -o-linear-gradient(top, #660033, ff66a3);
	background-color: #ff0080;
}

.table tr:first-child td:first-child {
	border-width: 0px 0px 1px 0px;
}

.table tr:first-child td:last-child {
	border-width: 0px 0px 1px 1px;
}